@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  /*    border: 1px solid red;   */
}

:root {
  --text-color: rgb(119, 119, 119);
  --text-color-background: rgb(255, 255, 255);
  --h2-text-color: rgb(248, 184, 3);
  --h3-text-color: rgb(36, 36, 36);
  --price-text-color: rgb(102, 153, 4);
  --point-color: rgb(248, 184, 3);
  --special-offer-p-text-color: rgba(255, 255, 255, 0.77);
  --promotion-text-color: rgba(255, 255, 255, 0.55);
  --info-text-color: #757575;
  scroll-behavior: smooth;
  
  --text-color-grey-dark: rgb(36, 36, 36);
  --text-color-grey-dark-054: rgba(36, 36, 36, 0.54);
  --text-color-grey-light: rgb(119, 119, 119);
  --text-color-white: rgb(255, 255, 255);
  --text-color-white-077: rgba(255, 255, 255, 0.77);
  --text-color-white-055: rgba(255, 255, 255, 0.55);
  --text-color-gold: rgb(248, 184, 3);
  --text-color-green: rgb(102, 153, 4);


}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

a {
  text-decoration: none;
}  

ul,
ol,
li {
  list-style: none;
}  

.span__dot {
  color: var(--h2-text-color);
}

img {
  display: block;
  width: 100%;
}
