header .contacts__container {
    display: none;
  }
  @media (min-width: 992px) {
      header .contacts__container {
      display: flex;
      justify-content: space-between;
      width: 98%;
      min-height: 42px;
      align-items: center;
     }   
  }
  .contacts__title h5 {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 19.999px;
      text-align: center;
      margin-bottom: 0;
  }
  .contacts__info a {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 19.999px;
  }
  .contacts__info a:hover {
    text-decoration: underline;
  }
  .contacts__info a:first-child {
      padding-right: 20px;
  }