.new-arrivals {
    margin: 0;
    padding: 0;
    margin: 80px 0px;
}
.arrivals__content {
    text-align: center;
}
.arrivals__title {
    color: var(--h2-text-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.arrivals__subtitle {
    color: var(--h3-text-color);
    font-size: 34px;
    font-weight: 600;
    line-height: 37.4px;
    padding-bottom: 15px;
}
.arrivals__content hr {
    color: var(--h2-text-color);
    height: 2px;
    width: 8%;
    margin: auto;
}
.arrivals__text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 30px 0px;
    
}
.arrivals-product-image {
    padding: 15px 0px 45px 0px;
    margin: auto;
}
.arrivals-product-description {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    
}
.arrivals-product__price {
    color: var(--h2-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 16px;
}
.arrivals-product__button {
    background-color: var(--h3-text-color);
    padding: 15px 30px;
    color: var(--text-color-background);
    font-size: 15.4px;
    font-weight: 600;
    line-height: 15.4px;
    border-radius: 5px;
}
.arrivals-products__carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.arrivals-products__carousel-slides {
    display: flex;
    justify-content: space-around;
}
.arrivals-product__card {
    padding: 0px 15px;
}
.arrivals-products__carousel-button-prev {
    position: relative;
    padding: 16px 16px;
    border: 3px solid var(--h3-text-color);
    background-color: var(--h3-text-color);
    border-radius: 50%;
    /* margin-top: 340px;
    margin-right: -30px; */
}

.arrivals-products__carousel-button-prev:after {
    position: absolute;
    top: 9px;;
    left: 11px;
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-left: 3px solid var(--text-color-background);
    border-bottom: 3px solid var(--text-color-background);
    transform: rotate(45deg);
  }
  .arrivals-products__carousel-button-next {
    position: relative;
    padding: 16px 16px;
    border: 3px solid var(--h3-text-color);
    background-color: var(--h3-text-color);
    border-radius: 50%;
    /* margin-top: 340px;
    margin-left: -30px; */
}
.arrivals-products__carousel-button-next:after {
    position: absolute;
    top: 9px;;
    right: 11px;
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-right: 3px solid var(--text-color-background);
    border-bottom: 3px solid var(--text-color-background);
    transform: rotate(-45deg);
  }