.new-arrivals {
    margin: 0;
    padding: 0;
}
.arrivals__content {
    text-align: center;
}
.arrivals__title {
    color: var(--h2-text-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-top: 60px;
}
.arrivals__subtitle {
    color: var(--h3-text-color);
    font-size: 34px;
    font-weight: 600;
    line-height: 37.4px;
    padding-bottom: 15px;
}
.arrivals__content hr {
    color: var(--h2-text-color);
    height: 2px;
    width: 8%;
    margin: auto;
}
.arrivals__text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 30px 0px;
    
}
.arrivals-product-image {
    padding: 15px 0px;
    margin: auto;
}
.arrivals-product-description {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    
}
.arrivals-product__price {
    color: var(--h2-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 16px;
}
.arrivals-product__button {
    background-color: var(--h3-text-color);
    padding: 15px 30px;
    color: var(--text-color-background);
    font-size: 15.4px;
    font-weight: 600;
    line-height: 15.4px;
    border-radius: 5px;
}
.arrivals-products__carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.arrivals-products__carousel-slides {
    display: flex;
    justify-content: space-around;
}
.arrivals-product__card {
    padding: 0px 15px;
}