.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }
  
  .owl-carousel .caption {
    text-align: center;
  }
  
  .main-content {
    box-sizing: border-box;
    position: relative;
    margin: 20px 50px;
    border: 1px solid #f9f9f9;
  }
  
  .custom-nav {
    position: absolute;
    top: 10%;
    left: -50px;
    right: -50px;
  }
  
  .owl-prev,
  .owl-next {
    position: absolute;
    /* height: 100px; */
    background: none;
    border: none;
    z-index: 100;
    border-radius: 50% !important;
    background-color: #444444 !important;
  }
  
  .owl-prev:hover,
  .owl-next:hover {
    background-color: #242424 !important;
  }
  
  @media (min-width: 1200px) {
    .owl-prev,
    .owl-next,
    .owl-prev:hover,
    .owl-next:hover {
      background-color: transparent !important;
    }
  }
  
  .iii {
    padding-top: 2px;
  
    font-size: 24px;
    color: #d9d9d9;
  }
  
  @media (min-width: 1200px) {
    .iii {
      color: #696969;
    }
  }
  
  .owl-prev {
    left: 0;
  }
  
  .owl-next {
    right: 0;
  }