.product-card__href:hover {
  color: var(--text-color-grey-light);

  text-decoration: underline;
}

.product-card__h5 {
  color: var(--text-color-grey-light);
  font-weight: 400;
  font-size: 18px;
}

.product-card__price {
  color: var(--text-color-gold);
  font-weight: 700;
  font-size: 18px;
}

.product-card__btn {
  font-weight: 600;
  font-size: 14px;
}

.product-card__btn:hover {
  background-color: var(--text-color-gold);
  border: none;
  transition-duration: 0.1s;
}
