.scroll-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 75%;
  margin: auto;
  padding: 0px 30px;
  /* margin: 20px; */
  /* overflow-x: auto; */
}
@media (min-width: 770px) {
  .scroll-container {
    width: 33%;
  }
}

.page-to-left,
.page-to-right {
  /* position: absolute; */
  /* right: 0; */
  top: 50%;
  transform: translateY(50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.scroll-items {
  /* min-width: 30px; */
  /* height: auto; */
  /* margin-bottom: 10px; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
/* .child button {
   width: 100%; 
  /object-fit: cover; 
   object-position: center; 
} */

.scroll-items::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-items::-webkit-scrollbar-thumb {
  background-color: black;
}

.scroll-child {
  min-width: 30px;
  /* height: 100px; */
  margin: 10px;
  overflow: hidden;
}
