.scroll-container {
  padding: 0px 10px;
  position: relative;
  margin-top: 10px;
}
.page-to-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page-to-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.scroll-items {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.scroll-items::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-items::-webkit-scrollbar-thumb {
  background-color: black;
}

.child {
  min-width: 20px;
  height: 20px;
  margin: 1px 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.page-to-right,
.page-to-left {
  padding-bottom: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
